html, body {
    max-width: 100%;
    overflow-x: hidden;
}
:root {
    --color1: #4682B4;
    --color2: #B0E0E6;
    --color3: #b7bf5e;
    --color4: #c36f31;
    --color5: #669a2a;
    --color6: #355C7D;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-color: var(--color1);
    min-height: 50px;
    padding-top: 15px;
    padding-bottom: 65px;

}
.pre-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    height: 120px;
    background-color: var(--color2);
}

.flex-box{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.flex-item1{
    order: 2;
    min-width:100%; 
    
}
.flex-item2{
    order: 1;
    min-width:100%; 
}
.flex-item3{
    order:3;
    min-width:100%; 
    
}
.cartinka{
    float:left;
    width: 1%;
    
    min-height: 100px;
    min-width: 100px;
    
    margin-left: 15px;
    margin-top: 10px;
}
.name{
    padding-top:45px;
    padding-left:3%;
    font-size:larger;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 960px;
    background-color: var(--color2);
    margin: 0 auto;
    margin-top: 5%;
    padding: 1%;
}
.tabl-first{
    color: var(--color3);
    padding: 5px;
    background-color:var(--color4);
}
.tabl-second{
    color:var(--color4);
    padding: 5px;
    background-color: var(--color3);
}
.link-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
li{
    list-style-type: none;
}
.footer {
    width: 100%;
    background-color: var(--color5);
    min-height: 60px;
    margin-top: 10px;
    padding: 5px;
}
.idk{
    color:var(--color4);
}

@media screen and (min-width:769px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    *{
        margin: 0;
        padding: 0;
    }
    .header{
        width: 100%;
        background-color: var(--color1);
        min-height: 50px;
        padding-top: 15px;
        padding-bottom: 65px;

    }
    .header-content{
        display:flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 50px;
        height: 120px;
        background-color: var(--color2);
    }
    .flex-box{
        display:flex;
        flex-direction: column;
    }
    .pre-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        margin-top:45px;
        margin-bottom:45px;
        

        padding-top:10px;
        padding-bottom: 10px;
        font-size: xx-large;
        color: var(--color2);
        background-color: var(--color6);
    }

    .flex-item1{
        order:1;
    }
    .flex-item2{
        order:2;
    }
    .flex-item3{
       order:3;
    }
    .cartinka{
        float:left;
        width: 1%;
        min-height: 100px;
        min-width: 100px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .name{
        padding-top:45px;
        padding-left:3%;
        font-size:larger;
    }
    .content{
        min-width: 960px;
        background-color: var(--color2);
        margin: 0 auto;
        margin-top: 1%;
        padding: 1%;
    }
    /*.tabl-first{
        color: var(--color3);
        padding: 5px;
        background-color:var(--color4);
    }
    .tabl-second{
        color:var(--color4);
        padding: 5px;
        background-color: var(--color3);
    }*/
    .link-list{
        margin: 20px;
    }
    li{
        list-style-type: none;
    }
    .footer {
        background-color: var(--color5);
        min-height: 60px;
        margin-top: 10px;
        padding: 5px;
    }
    .idk{
        color:var(--color4);
    }
}
