label, input, select {
    display: block;
}

button {
    margin-top: 1vh;
    width: 100%;
} 

.calculatorFirst {
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 160, 59);
    padding: 5vh;
    width: 20vw;
}

.calculatorSecond {
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 160, 59);
    padding: 5vh;
    width: 30vw;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-choice {
    display: inline;
}

.block-choice {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

ul, ol {
    padding: 0;
}